

<div id="page-content">
  <div class="container" id="index-container">
    <h1 class="text-center mt-4"><strong>Article Editing</strong></h1>
    <%= render 'shared/error' %>
    <div class="shadow p-3 mb-5 bg-info rounded text-center">
      <%= form_with(model: @article, local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :Title, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control" %>
          </div>
      
          <p></p>
          
          <%= f.label :Description, class: "col-2 col-form-label mt-2"%>
          <div class="col-10">
            <%= f.text_area :description, rows: 10, class: "form-control mt-2" %>
          </div>
        </div>
        
        <div class="form-group row justify-content-center mt-3">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
        
      <% end %>
    </div> 
    
    <p></p>
    <div class="text-center">
      <a href="/articles">[ Cancel and return to articles listing ]</a>
    </div>
  </div>
</div>