<div id="page-content">
  <div class="container" id="index-container">
  <h1 class="text-center mt-4">Listing all articles</h1>

  <% @articles.each do |articleData| %>
    <div class="card text-center">
      <div class="card-header">
        By Muhammad Shehroz
      </div>
      <div class="card-body">
        <h5 class="card-title"><%=articleData.title%></h5>
        <p class="card-text"><%=articleData.description%></p>
        <a href="/articles/<%=articleData.id%>" class="btn btn-outline-success" >View</a>
        <a href="/articles/<%=articleData.id%>/edit" class="btn btn-outline-primary">Edit</a>
        <%= link_to 'Delete', article_path(articleData), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    <div id="spacing">
    </div>
  <% end %>

  <p></p>
  <div>
    <a href="/articles/new">Add New</a>
  </div>

  </div>
</div>

