<h1>Adding A New Article</h1>

<% if @article.errors.any? %>
  <h2>Following errors prevented the article from being saved:- </h2>
  <ul>
    <%= @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with scope: :articles, url: articles_path, local: true do |f| %>
  <%= f.label :Title%>
  <div>
    <%= f.text_field :title %>
  </div>

  <p></p>
  
  <%= f.label :Description%>
  <div>
    <%= f.text_area :description %>
  </div>

  <%= f.submit %>

<% end %> 

<p></p>
<div>
  <a href="/articles">Return To Article Listing</a>
</div>