

<%= form_with(model: @user, local: true) do |f| %>
  
  <div class="form-group row">
    <%= f.label :Username, class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :username, class: "form-control", placeholder: "username" %>
    </div>

    <%= f.label :Email, class: "col-2 col-form-label mt-2 "%>
    <div class="col-10">
      <%= f.email_field :email, class: "form-control mt-2", placeholder: "enter your email" %>
    </div>

    <%= f.label :Password, class: "col-2 col-form-label mt-2 "%>
    <div class="col-10">
      <%= f.password_field :password, class: "form-control mt-2", placeholder: "" %>
    </div>
  </div>

  <div class="form-group row justify-content-center mt-3">
    <%=f.submit class: "btn btn-outline-light btn-lg"%>
  </div>

<% end %>